*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f8fafc;
    color:#333;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:white;
    box-shadow:0 2px 15px rgba(0,0,0,0.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
    height:20px;
    border-radius:50%;
}

.logo h2{
    color:#2563eb;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin-left:25px;
}

.navbar ul li a{
    text-decoration:none;
    color:#333;
    font-weight:600;
    transition:0.3s;
}

.navbar ul li a:hover{
    color:#2563eb;
}

/* Hero Section */

.hero{
    height:90vh;


    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

}

.hero-content{
    color:white;
    animation:fadeIn 1.5s ease;
}

.hero-content h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:14px 35px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}

/* About Section */

.about-section{
    padding:80px 10%;
    text-align:center;
    background:white;
}

.about-section h2{
    font-size:42px;
    margin-bottom:20px;
    color:#0f172a;
}

.about-section p{
    max-width:900px;
    margin:auto;
    font-size:18px;
    line-height:32px;
    color:#475569;
}

/* Service Cards */

.services{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:80px 40px;
    background:#f8fafc;
}

.card{
    width:320px;
    text-decoration:none;
    color:#333;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h2{
    padding:15px;
    color:#2563eb;
}

.card p{
    padding:0 15px 20px;
}

/* Contact */

.contact-section{
    padding:70px;
    text-align:center;
    background:white;
}

.contact-section h2{
    font-size:40px;
    margin-bottom:20px;
}

.contact-section p{
    font-size:18px;
    margin:10px 0;
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

/* Animation */

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Mobile Responsive */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .navbar ul{
        margin-top:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-content p{
        font-size:18px;
    }

    .services{
        padding:40px 20px;
    }
}